<script setup lang="ts">
import { mdiStar } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-col cols="12" id="page">
      <div>
        <v-row>
          <v-col cols="12" sm="4">
            <v-card max-width="344" height="">
              <v-img
                src="https://sv1.img.in.th/pPDuy.md.png"
                height="200px"
                cover
              ></v-img>
              <v-card-title>ABOUT ME</v-card-title>
              <v-card-subtitle> 05-11-44 | 2022 </v-card-subtitle>
              <v-card-text> NAME: KHWANJIRA KHOMPARKPING</v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="4">
            <v-card max-width="344" height="">
              <v-img
                src="https://www.chulatutor.com/blog/wp-content/uploads/2021/06/siya.jpg"
                height="200px"
                cover
              ></v-img>
              <v-card-title>EDUCATION</v-card-title>
              <v-card-subtitle> HIGH SCHOOL </v-card-subtitle>
              <v-card-text> SIYANUSON SCHOOL </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="4">
            <v-card max-width="344" height="">
              <v-img
                src="https://s.isanook.com/jo/0/ui/489/2449595/img_5787.jpg"
                height="200px"
                cover
              ></v-img>
              <v-card-title>INTERESTING</v-card-title>
              <v-card-subtitle> TPOP </v-card-subtitle>
              <v-card-text> PROXIE OF bROTHERS Music</v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-col>
    <v-col cols="12" id="biog">
      <div class="button"></div>
      <v-row>
        <v-col cols="12" sm="8">
          <h1 class="mt-9">Life Quotes</h1>
          <p class="text-grey">
            Some people can’t sleep because they have insomnia. I can’t sleep
            because I have an internet connection.
          </p>
        </v-col>
        <v-col cols="12" sm="4">
          <v-btn color="red" class="mt-15">
            <router-link to="/starred"
              ><v-icon :icon="mdiStar" />Starred</router-link
            >
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-container>
</template>
